.animated-accordion-container {
	position: relative;
	padding: 3rem;
	border-radius: 3rem;
	box-shadow: 20px 30px 66px -24px rgba(0, 0, 0, 0.1607843137254902)
}

.animated-accordion-container .animated-accordion-body {
	position: relative;
}

.animated-accordion-container .accordion-item {
	position: absolute;
	width: 100%;
	top: 0;
	z-index: 2;
	transition: all .3s ease-out;
	padding: 0 2rem;
	border-radius: 1.5rem;
}

.animated-accordion-container .accordion-item h3 {
	padding: 0;
	margin: 0;
	font-size: 24px;
    font-weight: bold;
}


.animated-accordion-container .accordion-item.active, 
.animated-accordion-container .accordion-item.active h3 {
	color: #fff;
	font-size: 24px;
    font-weight: bold;
}

.animated-accordion-container .accordion-item .accordion-item-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 0 1rem;
	cursor: pointer;
}

.animated-accordion-container .accordion-item:not(.accordion-item-detail) .accordion-description {
	display: none;
}

.animated-accordion-container .accordion-item .accordion-item-header svg {
	width: 1rem;
	height: 1rem;
	color: #fff;
}

.animated-accordion-container .accordion-item .accordion-item-header i {
	width: 1.5rem;
	height: 1.5rem;
	background-color: #102C40;
	border-radius: .75rem;
	padding: .25rem;
	transition: opacity .3s ease-out;
	color: white;
	text-align: center;
}

.animated-accordion-container .accordion-item .accordion-item-header i:before{
	font-size: 12px;
}

.animated-accordion-container .accordion-item.active .accordion-item-header i {
	opacity: 0;
}

.animated-accordion-container .accordion-item.accordion-item-detail {
	z-index: 1;
	height: 275px;
	background-color: #102C40;
	color: #fff;
}

.animated-accordion-container .accordion-item.accordion-item-detail .accordion-item-header {
	visibility: hidden;
}

/** Timeline **/

.timeline-slider-container {
	width: 100%;
}

.timeline-slider-container .timeline-slider-row {
	width: 100%;
	overflow-x: hidden;
	display:flex;
	flex-wrap: no-wrap;
}

.timeline-slider-container .timeline-slider-row .timeline-slider-col > div:first-child {
	border-bottom: 1px solid #102C40;
}

.timeline-slider-container .timeline-slider-row .timeline-slider-col:nth-child(odd) > div:nth-child(1),
.timeline-slider-container .timeline-slider-row .timeline-slider-col:nth-child(even) > div:nth-child(2) {
	border-right: 1px solid #102C40;
 }

.timeline-slider-container .timeline-slider-row .timeline-slider-col:first-child > div:nth-child(1),
.timeline-slider-container .timeline-slider-row .timeline-slider-col:last-child > div:nth-child(2) {
	border-right: none;
 }

.timeline-slider-container .timeline-slider-row .timeline-slider-col > div {
	padding: 1rem;
 }

.timeline-slider-container .timeline-slider-row .timeline-slider-col:first-child .timeline-slider-description {
	background: transparent;
}

.timeline-slider-container .timeline-slider-row .timeline-slider-year
{
	text-align: right;
}

.timeline-slider-container .timeline-slider-row .timeline-slider-year,
.timeline-slider-container .timeline-slider-row .timeline-slider-description {
	height: 200px;
}

.timeline-slider-container .timeline-slider-row .timeline-slider-description {
	background-color: #102C40;
	color: white;
	padding: 2rem;
	border-radius: 1rem;
}

.timeline-slider-container .timeline-slider-row .timeline-slider-description p{
	white-space: nowrap;
}

.timeline-slider-header {
	display: flex;
	justify-content: space-between;
	padding-bottom: 1rem;
}

.timeline-slider-controls {
	display: flex;
}

.timeline-slider-controls div[class^="timeline-slider-control-"] {
	width: 4rem;
	height: 4rem;
	border: 1px solid #dedede;
	border-radius: 4rem;
	margin-left: 1rem;
	padding: 0.5rem;
}

.timeline-slider-controls div[class^="timeline-slider-control-"] svg {
    padding: 1rem;
    border-radius: 3rem;
    background: #dedede;
}

.timeline-slider-controls .timeline-slider-control-left {
	transform: translate(5rem,0);
	transition: all .3s ease-out;

}
.timeline-slider-controls .timeline-slider-control-left.has-left {
	transform: translate(0rem,0) rotate(180deg);
}
